<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert {{currency['rf']['base-curr']}} to {{currency['rf']['to-curr']}}</title>
</head>
<body>
    <center>
        <div style="font-family: sans-serif; font-size: 18px;"> <span style="font-weight: bolder; color: darkolivegreen;">{{currency['rf']['amount']}} {{currency['rf']['base-curr']}}</span> will be exchanged for <span style="font-weight: bolder; color: darkgoldenrod;">{{currency['result']['received']}} {{currency['rf']['to-curr']}}</span>, with <span style="font-weight: bolder; color: red;">{{currency['result']['commission']}} {{currency['rf']['to-curr']}} </span> commission</div>
    </center>
</body>
</html>